In [34]:
import pandas as pd 
import numpy as np

In [35]:
df = pd.read_csv('mobile_price_classification.csv')

In [36]:
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,0
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,0
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,0
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,1
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,1

In [37]:
col_names = df.columns.values.tolist() 
col_names

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi',
 'price_range']

In [38]:
if 'price_range' in col_names:
    
    col_names.remove('price_range')

In [39]:
col_names

['battery_power',
 'blue',
 'clock_speed',
 'dual_sim',
 'fc',
 'four_g',
 'int_memory',
 'm_dep',
 'mobile_wt',
 'n_cores',
 'pc',
 'px_height',
 'px_width',
 'ram',
 'sc_h',
 'sc_w',
 'talk_time',
 'three_g',
 'touch_screen',
 'wifi']

In [40]:
x = pd.DataFrame() 
x = x.reindex(columns=col_names)
x = df.columns 

x

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [41]:
x = df.drop(columns='price_range')
x 
y = df['price_range']
y

0       1
1       0
2       0
3       0
4       1
       ..
1995    0
1996    0
1997    1
1998    0
1999    1
Name: price_range, Length: 2000, dtype: int64

In [42]:
from sklearn.model_selection import train_test_split 

x_train , x_test , y_test , y_train = train_test_split(x , y , test_size = 0.25 , random_state=42)

In [43]:
from keras.models import Sequential , load_model
from keras.layers import Dense , Dropout

In [44]:
model = Sequential()
model.add(Dense(units=8 , activation='relu' , input_dim = len(x_train.columns)))
model.add(Dense(units=4 , activation='relu' ))
model.add(Dense(units=1 , activation='sigmoid'))

In [45]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 8)                 168

 dense_8 (Dense)             (None, 4)                 36

 dense_9 (Dense)             (None, 1)                 5

=================================================================
Total params: 209 (836.00 Byte)
Trainable params: 209 (836.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [46]:
model.compile(loss='binary_crossentropy' , optimizer='sgd' , metrics=['accuracy'])

In [58]:
model.fit(x_train , y_train , validation_data=(x_test , y_test) , epochs=100 , batch_size=32)

ValueError: Data cardinality is ambiguous:
  x sizes: 1500
  y sizes: 500
Make sure all arrays contain the same number of samples.